<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Greetings Mr. Bedlu, This web page is under construction</h1>
	<h3><a th:href="@{'/new'}">Add New User</a></h3>
	<table  style="width:600px">
		<thead>
			<tr>			
				<th>User Id</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>UserName</th>
			</tr>
		</thead>
		<tbody style="text-align: center">
			<tr th:each="user:${listUser}">
				<td th:text="${user.id}">User Id</td>
				<td th:text="${user.firstName}">First Name</td>
				<td th:text="${user.lastName}">Last Name</td>
				<td th:text="${user.userName}">UserName</td>
				<td><a th:href="@{'/edit/' + ${user.id}}">Edit</a></td>
				<td><a th:href="@{'/delete/'+${user.id}}">Delete</a></td>
			</tr>
		</tbody>		
	</table>
</body>
</html>